<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        
        <label for="email">Email:</label>
        {{ form.email(class_="form-control") }}
        {% for error in form.email.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
        
        <label for="password">Senha:</label>
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
        
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="{{ url_for('main.register') }}">Registre-se</a>.</p>
</body>
</html>
